// Font colors
$main: #000
$white: #fff
$gray: #333
$topline: #818189
$h2: #2c2c2c
$accent: #ff3300
$accent2: #ff0066

// Social color
$fb: #26263a
$tw: #303044
$in: #232336
$vk: #252539
$ok: #2c2c41
$yt: #1e1e2e
$ig: #464658
$social: #93939d

// Shops title border
$blue: #3399cc
$red: #cc0000
$green: #339933
$yellow: #ffcc00
$violet: #ff00cc

// Entertainment items border
$salad: #33cc00
$rose: #e50aff
$fiolet: #3f2383

// Background and border colors
$purple: #27273c
$lightgray: #d9d9d9
$black: #08080b
$lightcoffe: #d0c1ad
$footer: #08080b

// Size
$fz: 14px





