// Font colors
$mainFont: #222
$darkFont: #202020
$grayFont: #3e3e3e
$accentFont: #ffa80e
$inputFont: #858585

// Background and border colors
$lightgreen: lightgreen
$lightblue: lightblue
$borderColor: gray



