// begin tube section 
section.tube
	.container
		.row
			.col-md-12
				h1.tube_title Труба по ASME
				.tube_discr 
					span.-accent-span Любого диаметра, исполнения и марки 
					span стали<br> от производителя и ведущих складских<br> комплексов мира
		.row
			.col-md-6.col-sm-6.hidden-xs.hidden-sm
				.tube_img
			.col-md-6.col-sm-12.col-xs-12
				.form
					form(action="#")
						label.form_title Заполните форму и мы свяжемся с вами в течении часа
						input.form_input(type="text", name="name", placeholder="Имя", required) 
						input.form_input(type="tel", name="phone", placeholder="Телефон", required) 
						input.form_input(type="email", name="email", placeholder="E-mail", required) 
						button.button.-form-button(type"submit", role="button") Отправить заявку
// end tube section 
