include ./layouts/mixins

doctype html
html
	head
		meta(charset='utf-8')
		title Project title
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1')
		link(href='http://fonts.googleapis.com/css?family=PT+Sans&subset=latin,cyrillic', rel='stylesheet', type='text/css')
		link(rel='stylesheet', href='css/common.css')

		+if-ie("lt IE 9") <script src='http://html5shim.googlecode.com/svn/trunk/html5.js'></script>
		+if-ie("gte IE 9") <style type="text/css">.gradient {filter: none;}</style>

	body
		.hidden

		.wrapper
			include ./layouts/header
			include ./layouts/content
			include ./layouts/footer

	script(src="js/main.js")
	include ./layouts/products