header.header
	.container
		.row
			.col-md-12
				.header_discr
					.discr Поставка трубопровода и металлопроката<br> от 
						span.-accent-span ведущих российских производителей
					.discr.-big-font.hidden-xs Работаем по всей РФ
				.header_tel
					.tel Звоните: <br>8 800 123 45 67
					button.button.-small-font Позвоните нам бесплатно
