section.about(data-section="about")
	.container
		h2.section-title О городе
		.about_wrap
			.about-item
				img(src="img/about_01.png", alt="Фотогалерея").about-pic
				a(href="")
					h3.about-title Фотогалерея
			.about-item
				img(src="img/about_02.png", alt="Концепция").about-pic
				a(href="")
					h3.about-title Концепция
			.about-item
				img(src="img/about_03.png", alt="Информация").about-pic
				a(href="")
					h3.about-title Информация
