section.contacts(data-section="contacts")
	.about_wrap
			.about-item
				img(src="img/contacts_01.png", alt="Фотогалерея").about-pic
				h3.about-title Адрес
				p.contacts-content ш. Энтузиастов д. 12/2
			.about-item
				img(src="img/contacts_02.png", alt="Концепция").about-pic
				h3.about-title Время работы
				p.contacts-content Ежедневно с 9:00 до 22:00
			.about-item
				img(src="img/contacts_03.png", alt="Информация").about-pic
				h3.about-title Обратная связь
				p.contacts-content Вопросы и пожелания