section.entertainment(data-section="entertainments")
	.container
		h2.section-title._white Развлечения
		.events-wrap
			.entertainment-item_wrap.row
				.entertainment-item.col-md-4.col-sm-4.col-xs-6
					img.img-responsive.fiolet-item_pic(src="img/entertainment01.jpg", alt="entertainment01")
					.entertainment-item_discr
						span.entertainment-item_icon.-kino
						h4.entertainment-item_title Кинотеатр

				.entertainment-item.col-md-4.col-sm-4.col-xs-6
					img.img-responsive.salad-item_pic(src="img/entertainment02.jpg", alt="entertainment01")
					.entertainment-item_discr
						span.entertainment-item_icon.-katok
						h4.entertainment-item_title Каток
						
				.entertainment-item.col-md-4.col-sm-4.col-xs-6
					img.img-responsive.rose-item_pic(src="img/entertainment03.jpg", alt="entertainment01")
					.entertainment-item_discr
						span.entertainment-item_icon.-games
						h4.entertainment-item_title Игровой центр