section.events(data-section="events")
	.container
		h2.section-title._white События
		.events-wrap
			ul.events-menu_wrap
				li.active Все
				li Акции
				li Мероприятия
				li Скидки
			.events-item_wrap.row(dir="rtl")
				.events-item.col-md-4.col-sm-6.col-xs-12
					img.img-responsive.events-item_pic(src="img/event_01.jpg", alt="sevent_01")
					.events-item_discr
						h4.events-item_title Классная Арифметика в Sela
						p.events-item_content При покупке 2х вещей дарим скидку 15%

				.events-item.col-md-4.col-sm-6.col-xs-12
					img.img-responsive.events-item_pic(src="img/event_02.jpg", alt="event_01")
					.events-item_discr
						h4.events-item_title Классная Арифметика в Sela
						p.events-item_content При покупке 2х вещей дарим скидку 15%

				.events-item.col-md-4.col-sm-6.col-xs-12
					img.img-responsive.events-item_pic(src="img/event_03.jpg", alt="event_01")
					.events-item_discr
						h4.events-item_title Классная Арифметика в Sela
						p.events-item_content При покупке 2х вещей дарим скидку 15%

				.events-item.col-md-4.col-sm-6.col-xs-12
					img.img-responsive.events-item_pic(src="img/event_01.jpg", alt="event_01")
					.events-item_discr
						h4.events-item_title Классная Арифметика в Sela
						p.events-item_content При покупке 2х вещей дарим скидку 15%

				.events-item.col-md-4.col-sm-6.col-xs-12
					img.img-responsive.events-item_pic(src="img/event_02.jpg", alt="event_01")
					.events-item_discr
						h4.events-item_title Классная Арифметика в Sela
						p.events-item_content При покупке 2х вещей дарим скидку 15%

				.events-item.col-md-4.col-sm-6.col-xs-12
					img.img-responsive.events-item_pic(src="img/event_03.jpg", alt="event_01")
					.events-item_discr
						h4.events-item_title Классная Арифметика в Sela
						p.events-item_content При покупке 2х вещей дарим скидку 15%
			.events-gallery_nav

