footer.footer
	.container
		.footer_social-wrap
			.footer_social-title Город у тебя в друзьях
			ul.topline_social
						li
							a.fb.fa.fa-facebook
						li
							a.tw.fa.fa-twitter
						li
							a.in.fa.fa-linkedin
						li
							a.vk.fa.fa-vk
						li
							a.ok.fa.fa-odnoklassniki
						li
							a.yt.fa.fa-youtube
						li
							a.ig.fa.fa-instagram
		.footer_copy &copy; 1999-2015 ТЦ Город

