header.header(data-section="home")
	.topline_wrap
		.container
			.topline
				.topline_title ТЦ Город на Рязанском пр-те
				ul.topline_social.hidden-md.hidden-sm
					li
						a.fb.fa.fa-facebook
					li
						a.tw.fa.fa-twitter
					li
						a.in.fa.fa-linkedin
					li
						a.vk.fa.fa-vk
					li
						a.ok.fa.fa-odnoklassniki
					li
						a.yt.fa.fa-youtube
					li
						a.ig.fa.fa-instagram
				.topline_time.hidden-md.hidden-sm Время работы: с 9:00 до 22:00
				.topline_adress.hidden-xs Адрес: ш. Энтузиастов, 12/2
				.topline_action Подписка на новости

	.main-menu_wrap
		.container
			.main-logo
				a(href="#home") 
					h1.logo Город
				span.location Лефортово
			.main-menu
				ul
					li
						a(href="#about") О городе
					li
						a(href="#events") События
					li
						a(href="#shops") Магазины
					li
						a(href="#entertainments") Развлечения
					li
						a(href="#contacts") Контакты
			button.toggle-btn
				span.sandwich
					span.sw-topper
					span.sw-bottom
					span.sw-footer

	.main-image_wrap
		.container
			.main-image
			.main-text Фэшион <span>из май</span> профешион


