// begin Товары на прилавке
script#blocks(type="text/x-handlebars-template").
	{{#each blocks}}
		<div class="col-md-4 col-sm-4 col-xs-6">
			<div class="item_wrap">
				<div class="item_pic">
					<img class="img-responsive img" src="img/items/{{alias}}.jpg" alt="{{name}}">
				</div>
				<div class="item_info">
					<div class="item_title">{{name}}</div>
					<label class="item_label">Количество:</label>
					<span class="input_wrap">
						<input type="text" class="spinners" value="0" data="{{alias}}">
					</span>
				</div>
			</div>
		</div>
	{{/each}}
// end Товары на прилавке

// begin Товары в корзине
script#order-template(type="text/x-handlebars-template").
	{{#each goods}}
	{{#if amount}}
	<div class="form-group">
		<label class="col-md-3 control-label">{{productNameRus}}</label> 
		<div class="col-xs-12 col-md-9 cart-prod-line">
			<div class="text-in"> 500 гр. <span class="x">x</span> </div>
			<span class="input_wrap">
				<input id="spinner2" data="{{productAlias}}" name="{{productNameRus}}" data-price="{{productPrice}}" class="spinners" value="{{amount}}">
			</span>
			<div class="text-in">
				<span class="x">x</span>
				<span class="product-price">{{productPrice}}</span>
				<span class="x">=</span>
				<span class="current-sum">{{productSum}}</span> руб.
			</div>
		</div>
	</div>
	{{/if}}
	{{/each}}
	<div class="form-group"> 
	<label class="col-xs-3 control-label">Итого</label> 
	<div class="col-xs-9 input-group"> 
		<input type="text" id="total-sum" name="Итого" class="form-control" value="{{totalPrice}}" readonly="readonly"> 
		<span class="input-group-addon">руб</span> 
	</div>
	</div>

// end Товары в корзине
