section.shops(data-section="shops")
	.container
		h2.section-title._white Магазины
		.shops-wrap
			.grid-sizer
			.gutter-sizer
			.shops-item
				img(src="img/shops/shop01.jpg", alt="")
				.shops-title.blue-right-bottom Обувь
			.shops-item.-wide
				img(src="img/shops/shop02.jpg", alt="")
				.shops-title.red-right-top Одежда
			.shops-item.shops-item-3
				img(src="img/shops/shop03.jpg", alt="")
				.shops-title.violet-right-bottom Здоровье<br>и красота
			.shops-item.-height
				img(src="img/shops/shop04.jpg", alt="")
				.shops-title.blue-left-bottom Белье
			.shops-item
				img(src="img/shops/shop05.jpg", alt="")
				.shops-title.blue-left-bottom Аксессуары
			.shops-item.shops-item-6
				img(src="img/shops/shop06.jpg", alt="")
				.shops-title.green-left-bottom Спортивные <br>товары
			.shops-item.-wide
				img(src="img/shops/shop07.jpg", alt="")
				.shops-title.yellow-left-bottom Рестораны
			.shops-item.-height
				img(src="img/shops/shop08.jpg", alt="")
				.shops-title.red-left-bottom Ювелирные <br>изделия
			.shops-item.-wide
				img(src="img/shops/shop09.jpg", alt="")
				.shops-title.blue-left-bottom Электроника
			.shops-item.shops-item-10
				img(src="img/shops/shop10.jpg", alt="")
				.shops-title.yellow-left-bottom Товары<br> для дома
			.shops-item.shops-item-11
				img(src="img/shops/shop11.jpg", alt="")
				.shops-title.green-left-bottom Зоотовары
			.shops-item.shops-item-12
				img(src="img/shops/shop12.jpg", alt="")
				.shops-title.violet-left-bottom Товары <br>для детей
			.shops-item.shops-item-13
				img(src="img/shops/shop13.jpg", alt="")
				.shops-title.yellow-left-bottom Подарки
			.shops-item.-wide
				img(src="img/shops/shop14.jpg", alt="")
				.shops-title.violet-right-top Гипермаркеты
			.shops-item.shops-item-15
				img(src="img/shops/shop15.jpg", alt="")
				.shops-title.green-left-bottom Услуги


