section.shops(data-section="shops")
	.container
		h2.section-title._white Магазины
		.shops-wrap
			.grid-sizer
			.gutter-sizer
			img(src="img/shops/shop01.jpg", alt="").shops-item.shops-item-1
			img(src="img/shops/shop02.jpg", alt="").shops-item.-wide
			img(src="img/shops/shop03.jpg", alt="").shops-item.shops-item-3
			img(src="img/shops/shop04.jpg", alt="").shops-item.-height
			img(src="img/shops/shop05.jpg", alt="").shops-item.shops-item-5
			img(src="img/shops/shop06.jpg", alt="").shops-item.shops-item-6
			img(src="img/shops/shop07.jpg", alt="").shops-item.-wide
			img(src="img/shops/shop08.jpg", alt="").shops-item.-height
			img(src="img/shops/shop09.jpg", alt="").shops-item.-wide
			img(src="img/shops/shop10.jpg", alt="").shops-item.shops-item-10
			img(src="img/shops/shop11.jpg", alt="").shops-item.shops-item-11
			img(src="img/shops/shop12.jpg", alt="").shops-item.shops-item-12
			img(src="img/shops/shop13.jpg", alt="").shops-item.shops-item-13
			img(src="img/shops/shop14.jpg", alt="").shops-item.-wide
			img(src="img/shops/shop15.jpg", alt="").shops-item.shops-item-15


